.header {
    display: flex;
    width: 100vw;
    background-color: #FFC6B4;


    // ===================================================



    .button{position: absolute;

        display: none;
        top: 2rem;
        right: calc(20px + 0.2vw);
        padding: 0.5rem;
        z-index: 2;
        .p-button{
            color: black;

        }
        
    }
   

    @media (max-width: 992px) {
        .button{
            display: block;
        }
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100vw;
            padding: 10px 40px 10px 40px;
            .menu{

                display: none;
            }
            .login{
                display: none;
            }


        }
      
        
      }


    // ======================================

    .container {

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        padding: 10px 40px 10px 40px;

        .logoContainer {
            display: flex;
            align-items: center;

            img {
                margin: 5px 15px 5px 15px;
                height: 70px;
            }

            h2 {
                margin: 5px 15px 5px 15px;
                font-size: 30px;
            }
        }

        .menu {
            ul {
                display: flex;
                align-items: center;

                li {
                    margin: 5px 15px 5px 15px;
                    font-size: 18px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        .login {
            a {
                text-decoration: none;
                font-size: 18px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                color: black;
                margin: 5px 10px 5px 10px;
                padding: 10px 20px 10px 20px;
            }

            .register {
                background-color: rgb(248, 235, 203);
                border-radius: 10px;
            }
        }
    }
}